<!--
Author: Jake Donaldson
Date  : 4/20/21
File  : info.html
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Dating Site</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar navbar-expand-lg navbar-light bg-light">PC Dating Website</li>
        </ul>
    </nav>

    <div class="container-lg ml-5 mr-5 border">


        <div class="col-lg-6 col-xs-6 float-right">
            <img src="images/splash.png" class="rounded" alt="computerHeads" width="500" height="500">
        </div>

        <div class="col-md-6 col-xs-6 text-left">

            <div class="text-center">
                <h1>PC Dating Website</h1>
            </div>

            <p>
                Welcome to the web's most successful computer dating website. At the <b>PC Dating Website</b> you'll meet
                another compatible individual. We have the highest success rate of couples on the web. Users are
                matched by hardware and location. Find out why so many others have found love on our site!
            </p>
            <h2>Hear what our users are saying about us.</h2>

            <hr class="border">

            <p class="blockquote ml-5">
                "01001001 00100000 01101100 01101111 01110110 01100101 00100000 01110100 01101000 01101001 01110011 00100000
                01110011 01101001 01110100 01100101" - Alan T.
            </p>
            <p class="blockquote ml-5">
                "01000110 01101001 01101110 01100001 01101100 01101100 01111001 00101100 00100000 01110100 01101000 01100101
                00100000 01110010 01101001 01100111 01101000 01110100 00100000 01110011 01101001 01110100 01100101 00100000
                01100110 01101111 01110010 00100000 01101101 01100101" - Mark Z.
            </p>
            <p class="blockquote ml-5">
                "01101100 01101111 01110110 01100101 00100000 01100100 01101111 01100101 01110011 00100000 01101110 01101111
                01110100 00100000 01100011 01101111 01101101 01110000 01110101 01110100 01100101" - John C.
            </p>

            <hr class="border">

            <div class="text-center">
                <a class="btn btn-primary text-light rounded" href="personal">Create a Profile!</a>
            </div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>