<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Interests</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar navbar-expand-lg navbar-light bg-light"><a class="text-dark" href="/328/dating">PC Dating Website</a></li>
        </ul>
    </nav>

    <div class="container-lg ml-5 mr-5 border">
        <form action="#" method="post" class="form-horizontal">

            <!-- get Interests -->
            <h2>Interests</h2>
            <hr class="border">

            <h4>In-door Interests</h4>
            <div class="row">
                <div class="col-sm">

                    <repeat group="{{ @indoorArray }}" value="{{ @indoorIterativeValue }}">
                        <label><input type="checkbox"
                                      name="indoor[]"
                                      value="{{ @indoorIterativeValue }}"
                            <check if="{{ in_array(@indoorIterativeValue, @userChoiceIn) }}">
                                checked="checked"
                            </check>
                            > {{ @indoorIterativeValue }}</label><br>
                    </repeat>
                    <!--
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="tv" id="tv" name="indoor[]">
                        <label class="form-check-label ml-5" for="tv">
                            tv
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="puzzles" id="puzzles" name="indoor[]">
                        <label class="form-check-label ml-5" for="puzzles">
                            puzzles
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="movies" id="movies" name="indoor[]">
                        <label class="form-check-label ml-5" for="movies">
                            movies
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="reading" id="reading" name="indoor[]">
                        <label class="form-check-label ml-5" for="reading">
                            reading
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="cooking" id="cooking" name="indoor[]">
                        <label class="form-check-label ml-5" for="cooking">
                            cooking
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="playingcards" id="playingcards" name="indoor[]">
                        <label class="form-check-label ml-5" for="playingcards">
                            playing cards
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="boardgames" id="boardgames" name="indoor[]">
                        <label class="form-check-label ml-5" for="boardgames">
                            board games
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="videogames" id="videogames" name="indoor[]">
                        <label class="form-check-label ml-5" for="videogames">
                            video games
                        </label>
                    </div>
                    -->
                </div>
            </div>

            <h4>Out-door Interests</h4>
            <div class="row">
                <div class="col-sm">
                    <repeat group="{{ @outdoorArray }}" value="{{ @outdoorIterativeValue }}">
                        <label><input type="checkbox"
                                      name="outdoor[]"
                                      value="{{ @outdoorIterativeValue }}"
                            <check if="{{ in_array(@outdoorIterativeValue, @userChoiceOut) }}">
                                checked="checked"
                            </check>
                            > {{ @outdoorIterativeValue }}</label><br>
                    </repeat>
                    <!--
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="hiking" id="hiking" name="outdoor[]">
                        <label class="form-check-label ml-5" for="hiking">
                            hiking
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="walking" id="walking" name="outdoor[]">
                        <label class="form-check-label ml-5" for="walking">
                            walking
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="biking" id="biking" name="outdoor[]">
                        <label class="form-check-label ml-5" for="biking">
                            biking
                        </label>
                    </div>
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="climbing" id="climbing" name="outdoor[]">
                        <label class="form-check-label ml-5" for="climbing">
                            climbing
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="swimming" id="swimming" name="outdoor[]">
                        <label class="form-check-label ml-5" for="swimming">
                            swimming
                        </label>
                    </div>
                </div>
                <div class="col-sm">
                    <div>
                        <input class="form-check-input ml-3" type="checkbox" value="collecting" id="collecting" name="outdoor[]">
                        <label class="form-check-label ml-5" for="collecting">
                            collecting
                        </label>
                    </div>
                    -->
                </div>
            </div>

            <div class="col-xs-3 ">
                <input class="form-control btn btn-primary col-lg-1 col-xs-1 float-right"
                       type="submit" value="Next >">
            </div>

        </form>

        <!--END CONTAINER DIV-->
    </div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>