<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Personal Information</title>
</head>
<body>
    <nav>
        <ul>
            <li class="navbar navbar-expand-lg navbar-light bg-light"><a class="text-dark" href="/328/dating">PC Dating Website</a></li>
        </ul>
    </nav>

    <div class="container-lg ml-5 mr-5 border">
    <form action="#" method="post" class="form-horizontal">

        <!-- get personal info -->
        <div class="form-group">
            <h2>Personal Information</h2>

            <label for="fname" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="fname" id="fname" value="{{ @SESSION.fname }}" >

                <!-- display an error message for fname if there is one -->
                <check if="{{ isset(@errors['fname']) }}">
                    <span class="err">{{ @errors['fname'] }}</span>
                </check>
            </div>

            <label for="lname" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="lname" id="lname" value="{{ @SESSION.lname }}" >

                <!-- display an error message for lname if there is one -->
                <check if="{{ isset(@errors['lname']) }}">
                    <span class="err">{{ @errors['lname'] }}</span>
                </check>
            </div>
            <label for="age" class="col-sm-2 control-label">Age</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="age" id="age" value="{{ @SESSION.age }}" >

                <!-- display an error message for age if there is one -->
                <check if="{{ isset(@errors['age']) }}">
                    <span class="err">{{ @errors['age'] }}</span>
                </check>
            </div>
        </div>
        <br>

        <!-- get Gender -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-4">

                <repeat group="{{ @gender }}" value="{{ @morf }}">
                    <label><input type="radio"
                                  name="gender"
                                  id="{{ @morf }}"
                                  value="{{ @morf }}"
                                  <check if="{{ @morf == @userGender }}">checked="checked"</check>
                        > {{ ucfirst(@morf) }}
                        </input>
                    </label><br>
                </repeat>


                <!--
                <label><input type="radio" name="gender"
                              id="male" value="male"> Male</label><br>
                <label><input type="radio" name="gender"
                              id="female" value="female"> Female</label><br>
                              -->
            </div>
        </div>

        <label for="phone" class="col-sm-2 control-label">Phone Number</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" name="phone" id="phone" value="{{ @SESSION.phone }}" >

            <!-- display an error message for phone if there is one -->
            <check if="{{ isset(@errors['phone']) }}">
                <span class="err">{{ @errors['phone'] }}</span>
            </check>
        </div>

        <input class="form-control btn btn-primary col-lg-1 col-xs-1 float-right"
               type="submit" value="Next">

    </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>