<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Profile</title>
</head>
<body>
<nav>
    <ul>
        <li class="navbar navbar-expand-lg navbar-light bg-light"><a class="text-dark" href="/328/dating">PC Dating Website</a></li>
    </ul>
</nav>

<div class="container-lg ml-5 mr-5 border">
    <form action="#" method="post" class="form-horizontal">

        <!-- get Profile -->
        <h2>Profile</h2>
        <hr class="border">

        <div class="form-group col-lg-6 col-xs-6 float-right">
            <label for="biography" class="col-sm-2 control-label">Biography</label>
            <div class="col-sm-4">
                <textarea class="form-control" name="biography" id="biography">{{ @SESSION.biography }}</textarea>
            </div>
            <br>
        </div>


        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="email" id="email" value="{{ @SESSION.email }}" >

                <!-- display an error message for email if there is one -->
                <check if="{{ isset(@errors['email']) }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
            </div>
            <label for="state" class="col-sm-2 control-label">State</label>
            <div class="col-sm-4">
                <input class="form-control" type="text" name="state" id="state" value="{{ @SESSION.state }}" >
            </div>
        </div>

        <!-- get Seeking -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Seeking</label>
            <div class="col-sm-4">

                <repeat group="{{ @seeking }}" value="{{ @morf }}">
                    <label><input type="radio"
                                  name="seeking"
                                  id="{{ @morf }}"
                                  value="{{ @morf }}"
                        <check if="{{ @morf == @userSeeking }}">checked="checked"</check>
                        > {{ ucfirst(@morf) }}
                        </input>
                    </label><br>
                </repeat>

                <!--
                <label><input type="radio" name="seeking"
                              id="smale" value="male"> Male</label><br>
                <label><input type="radio" name="seeking"
                              id="sfemale" value="female"> Female</label><br>
                              -->
            </div>
        </div>

            <div class="col-xs-3 ">
                <input class="form-control btn btn-primary col-lg-1 col-xs-1 float-right"
                       type="submit" value="Next >">
            </div>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>